* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.weather-image {
  width: 30px;
  height: 30px;
}

.heading svg {
  width: 350px;
  height: 80px;
}

.heading svg path {
  fill: white;
}

.subscribe {
  background: violet;
}

.overlapping-division{
  bottom: 0;
}

 
.debators-photo {
  margin-top: 2px;
}

.debators-actual-foto {
  margin-top: -15px;
}

.business-details {
  width: 93.5%;
}

footer svg path {
  fill: red;
}